<html>
    <body>
        <header>
            <title> TESTE NODE</title>
        </header>
       <div style="align-items: center;"><i>Cliente:</i>
        <% for (var i=0;i<resultado.length;i++){ %>
            <%=resultado[i].codigo%>
             <%=resultado[i].nome%><br>
         <% } %></div>
    </body>
</html>