<html>
    <body>
        <header>
            <title> TESTE NODE</title>
        </header>
       <div style="align-items: center;"><i>Nome:</i>
        <% for (var i=0;i<resultado.length;i++){ %>
             <%=resultado[i].nome%>
         <% } %></div>
    </body>
</html>